/*body {background-image: url(../images/lornabackground.jpg);
background-repeat: no-repeat;
opacity: 0.6;
}
*/
.navcolor{
	color: #455560;
}

.my-container {
    position: relative;

}

.my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url(../images/lornabackground.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.my-container h1 {
    padding: 30px;
    text-align: center;
    z-index: 2;
    position: relative;
    margin-bottom: -20px;
    color: #fff;
    font-size: 100px;
    font-family: 'Caveat', cursive;
} 

h5 {
	font-size: 105px;
	padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    margin-bottom: -10px;
    color: #fff;
    /*font-family: 'Caveat', cursive;*/
}

.center-btn { 
	text-align: center;
	 z-index: 2;

}

.ghost-button {
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff; 
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; 
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}


