.image {
    border-radius: 50%;
    padding-top: 40px;
}

.portCards {
    padding-top: 90px;
}


#index-banner {
    background: linear-gradient(rgba(0, 0, .34, 0.10), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    padding: 0px;
    margin: 0px;
    height: 1000px;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 15px 80px 15px;
    text-align: right;
    min-height: 640px;
}


.material-icons{
  text-align: right;
}

.welcome{
  font-family: 'Satisfy', cursive;
  padding: 0px;
  font-size: 90px;
  margin-bottom: 0px;
}

.contact{
  padding-top: 0px;
  margin-top: 0px;
}

.btn.waves-effect.waves-light { border: 2px solid #fff; }


.card-action a{
  filter: grayscale(100%);
}

.description{
  padding-bottom: 60px;
}

#index-banner2{
      width: 100%;
    /*height: 495px*/;
    overflow: hidden;
    background: #f5f4f4;
}

#index-banner2 img{
float: left;
       width: 100%;
    margin-top: -5%;
    min-width: 707px;
    position: relative;
}

#index-banner2 .row{
margin-bottom: 0px;
margin: 0px;
}

.col .s6 .right{
  margin-right: 5%;
  color: red;
}

.about{
  /*text-align: center;*/
  padding: 90px;
}

.lorna{
  text-align: center;
}


.myPort{
  padding-bottom: 5%;
  padding-top: 3%;
}




#portWork{
text-align: center;
font-family: 'Satisfy', cursive;
color: black;
padding-bottom: 50px;
}


h3{
  font-family: 'Satisfy', cursive;
  text-align: center;
}


.card{
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.card-image{
  /*filter: grayscale(50);*/
  opacity: .5;
}

.card-image:hover {
  opacity: 1;
  filter: alpha(opacity=1); 
}


h5 {
  font-weight: 200;
  margin: 0.4em 0;
  color: #fff;
}

}

.footer{
  padding-top: 2%;
}
