
/* Non-specific CSS */  
body {
  margin: 10px;
    color: #374046;
    background-color: #374046;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-size: 1.15em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

h3{
  font-family: 'Satisfy', cursive;
  text-align: center;
}



h5 {
  font-weight: 200;
  margin: 0.4em 0;
  color: #fff;
}


/*==================================================*/

/* PROJECT GRID... */  


.masonry{
  column-count: 3;
  column-gap: 1em;
  
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.wrapper {
    width: 70%;
    margin: 10em auto;
    margin-top: 5em;
}

/*.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
  margin-top: 9%;
}

.item {
  background-color: #374046;

}*/

.photothumb{
  width: 100%;
  height: 300px;
}

.title {
  padding: 20px;
 }

.title h3{
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.project .title{
  background-color: #607D8B;
}


.projects {
  margin-top: 2%;
  margin-bottom: 10%;
  font-family: 'Satisfy', cursive;
  text-align: center;
  width:100%;
  color:#313131;
  font-size:45px;
  font-weight: bold;
  -webkit-animation:colorchange 20s infinite alternate;

}

  @-webkit-keyframes colorchange {
    0% {
      
      color: #9e9e9e;
    }
    
   
    
    20% {
   color: #ccc3af;
     
    }

    60%{
    
       color: #b29e70;
    }
    
   
  }


.port-container {
  position: relative;
  width: 100%

}


.row{
  margin-top: 20px;
}

.imageBird {
  display: block;
  width: 100%;
  height: auto;
  /* border: 2px solid hsla(0, 0%, 0%, 0.5);*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color:  #ff9800;
}

.port-container:hover .overlay{
  opacity: 1;
}

.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}




/*==================================================*/
/*INDEX WELCOME BANNER*/

#index-banner {
    background: linear-gradient(rgba(0, 0, .34, 0.10), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    padding: 0px;
    margin: 0px;
    height: 1000px;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 15px 80px 15px;
    text-align: right;
    min-height: 640px;
}


.welcome{
  font-family: 'Satisfy', cursive;
  padding: 0px;
  font-size: 90px;
  margin-bottom: 0px;
}

.contact{
  padding-top: 0px;
  margin-top: 0px;
}

.btn.waves-effect.waves-light { border: 2px solid #fff; }


.description{
  padding-bottom: 60px;
}


/*==================================================*/
/*INDEX ABOUT ME BANNER*/

#index-banner2{
      width: 100%;
    /*height: 495px*/;
    overflow: hidden;
    background: #f5f4f4;
}

#index-banner2 img{
  float: left;
  width: 100%;
  margin-top: -5%;
  /*min-width: 707px;*/
  position: relative;
}

#index-banner2 .row{
margin-bottom: 0px;
margin: 0px;
}


.about{
  /*text-align: center;*/
  padding: 90px;
}

.lorna{
  text-align: center;
}



/*==================================================*/
/*FOOTER*/

.footer{
  padding-top: 2%;
}
